/* FONTS */
@font-face {
    font-family: futura-book;
    src: url(../fonts/futurastd-book.ttf);
}
@font-face {
    font-family: futura-bold;
    src: url(../fonts/futurastd-bold.ttf);
}

/* GENERAL */
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #807d7c;
  font-family: futura-book;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}
@media (min-width: 576px) {
  body { font-size: 16px; }
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  color: #3e3b38;
  font-family: futura-bold;
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 576px) {
  h1 { font-size: 2.6rem; }
  h2 { font-size: 2rem; }
}

.btn-green {
  font-family: futura-bold;
  color: #fff;
  background: #008644;
  text-transform: uppercase;
  border: 0;
  padding: 12px 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
}
.btn-green:hover {
  background: #006e37;
}

.text-center {
  text-align: center;
}

/* OWL CAROUSEL */
.owl-carousel  {
  position: relative;
}
.owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  left: 15px;
  right: 15px;
  font-size: 48px;
}
.owl-carousel .owl-nav .owl-next {
  float: right;
}
.owl-carousel button.owl-dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(0,0,0,.5);
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel button.owl-dot.active {
  background: #008644;
}

/* HERO */
.hero, .hero .row {
  min-height: 480px;
}
@media (min-width: 576px) {
  .hero, .hero .row {
    min-height: 600px;
  }
}
.hero {
  background: url(../img/the-sub-product-background-hero.jpg);
  background-size: cover;
  background-position: 20%;
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.61);
}
.hero h1, .hero h2, .hero h4 {
  color: #fff;
}

/* USP */
.usp {
  margin: 40px 0 60px 0;
}
.usp .usp-block {
  display: flex;
  margin-top: 20px;
}
.usp .usp-block .usp-icon {
  width: 80px;
  height: 80px;
  border: 2px solid #3e3b38;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  padding: 12px;
}
.usp .usp-block h4 {
  margin: 10px 0;
}
.usp .usp-block .usp-icon .icon-beers { background: url(../img/usp/icon_beers.png); background-size: cover; width:100%; height:100%;}
.usp .usp-block .usp-icon .icon-torp { background: url(../img/usp/icon_torp.png); background-size: cover; width:100%; height:100%;}
.usp .usp-block .usp-icon .icon-fresh { background: url(../img/usp/icon_fresh.png); background-size: cover; width:100%; height:100%;}
.usp .usp-block .usp-icon .icon-date { background: url(../img/usp/icon_date.png); background-size: cover; width:100%; height:100%;}

/* CAROUSEL */
.carousel-box, .carousel-box-inner, .carousel-box .owl-carousel .owl-item img {
  height: 400px;
}
@media (min-width: 576px) {
  .carousel-box, .carousel-box-inner, .carousel-box .owl-carousel .owl-item img {
    height: 600px;
  }
}
.carousel-box {
  position: relative;
}
.carousel-box-bg {
  background: #333;
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0, 100% 10%, 100% 90%, 0 100%);
  clip-path: polygon(0% 0, 100% 10%, 100% 90%, 0 100%);
}
@media (min-width: 576px) {
  .carousel-box-bg {
    height: 500px;
  }
}
.carousel-box-inner {
  background: #000;
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
}
@media (min-width: 576px) {
  .carousel-box-inner {
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  }
}

.carousel-box .owl-carousel .owl-item img {
  width: auto;
}
.carousel-box .owl-carousel .owl-dots {
  margin-top: -70px;
  position: relative;
}
.carousel-box .owl-carousel button.owl-dot { 
  background: rgba(255,255,255,.5)
}
.carousel-box .owl-carousel button.owl-dot.active {
  background: #008644;
}
.carousel-box .owl-carousel .owl-nav .owl-next span,
.carousel-box .owl-carousel .owl-nav .owl-prev span {
  background: #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-block;
  line-height: 36px;
}

/* SPECIFICATION */
.specifications {
  margin: 40px 0 60px 0;
}
.spec-block{
  margin: 10px 0 20px 0;
  display: flex;
}
.spec-block h4{
  margin: 0;
  padding: 0;
}
.spec-block p {
  margin: 0 0 5px 0;
  padding: 0;
}
.spec-block .spec-icon {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 20px;
}
.spec-icon.icon-beer { background: url(../img/icons/icon_beer.png); background-size: cover;}
.spec-icon.icon-dimensions { background: url(../img/icons/icon_dimensions.png); background-size: cover;}
.spec-icon.icon-energy { background: url(../img/icons/icon_energy.png); background-size: cover;}
.spec-icon.icon-extra { background: url(../img/icons/icon_extra.png); background-size: cover;}
.spec-icon.icon-guaranteed { background: url(../img/icons/icon_guaranteed.png); background-size: cover;}
.spec-icon.icon-materials { background: url(../img/icons/icon_recycle.png); background-size: cover;}
.spec-icon.icon-noise { background: url(../img/icons/icon_noise.png); background-size: cover;}
.spec-icon.icon-temperature { background: url(../img/icons/icon_temperature.png); background-size: cover;}
.spec-icon.icon-weight { background: url(../img/icons/icon_weight.png); background-size: cover;}

/* TECHNOLOGY */
.technology {
  min-height: 750px;
  position: relative;
}
.technology-inner {
  background: #f2f2f2;
  min-height: 750px;
  padding: 60px 0;
  -webkit-clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0 96%);
  clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0 96%);
}
@media (min-width: 576px) {
  .technology-inner {
    -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
  }
}
.technology-bg {
  background: #f9f9f9;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  z-index: -1;
}
.technology-inner img {
  width: 100%;
}
.technology-inner .text{
  padding-top: 20px;
}
.technology-inner .text h4{
  margin-bottom: 0;
}
.technology-inner .text p{
  margin-top: 4px;
}   

/* BEERS */
.beers {
  margin: 40px 0 60px 0;
}
.beers-logos-box img{
  width: 100%;
}

/* OVERVIEW */
.overview {
  min-height: 850px;
  position: relative;
}
.overview h1, .overview h3 {
  color: #fff;
}
.overview h3 {
  margin-top: 0;
}
.overview-inner {
  background: #3e3b38;
  min-height: 850px;
  padding: 80px 0;
  -webkit-clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0 98%);
  clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0 98%);
}
@media (min-width: 576px) {
  .overview-inner {
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  }
}
.overview-bg {
  background: #212120;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
  z-index: -1;
}
@media (max-width: 576px) {
  .overview .product-card {
    padding: 0 40px;
  }
}
.overview .product-card img {
  width: 100%;
}
.overview .product-card h3 {
  min-height: 40px;
}
.overview .product-card p {
  min-height: 100px;
}
.overview .product-card .price {
  color: #fff;
  font-family: futura-bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.overview .carousel-2 {
  padding-left: 15px;
  padding-right: 15px;
}

/* UGC */
.ugc {
  padding: 120px 15px 60px 15px;
  margin-top: -100px;
  margin-bottom: 40px;
  background: #f2f2f2;
}

/* BEST SELLERS */
.best-sellers {
  margin-bottom: 60px;
  position: relative;
}
.best-sellers .product-card-inner {
  border: 1px solid #f2f2f2;
  padding:10px;
  margin-bottom: 20px;
}
.best-sellers .product-card img {
  width: 80%;
  margin: 0px auto -20px;
}
.best-sellers .product-card .price {
  font-family: futura-bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.best-sellers .carousel-beers {
  padding-left: 40px;
  padding-right: 40px;
}

/* VIDEO POPUP */
.video-container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5)
}
.video-inner .close {
  cursor: pointer;
  z-index: 1;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../img/icon_close.png); background-size: cover;
}
.video-inner iframe{
  width: 100%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  .video-inner .close {
    width: 32px;
    height: 32px;
    top: 50px;
    right: 50px;
  }
  .video-inner iframe{
    width: 75%;
    height: 60%;
  }
}





