/* FONTS */
@font-face {
    font-family: futura-book;
    src: url(../fonts/futurastd-book.ttf);
}
@font-face {
    font-family: futura-bold;
    src: url(../fonts/futurastd-bold.ttf);
}

/* BOOTSTRAP CAROUSEL */
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.w-100 {
    width: 100%!important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  color: #807d7c;
  font-family: futura-book;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  color: #3e3b38;
  font-family: futura-bold;
  font-weight: 500;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.btn-green {
  font-family: futura-bold;
  color: #fff;
  background: #008644;
  text-transform: uppercase;
  border: 0;
  padding: 15px 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

/* HERO */
.hero, .hero .row {
  min-height: 400px;
}
@media (min-width: 576px) {
  .hero, .hero .row {
    min-height: 600px;
  }
}
.hero {
  background: url(../img/the-sub-product-background-hero.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 90%);
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.61);
}
.hero h1, .hero h2 {
  color: #fff;
}

/* USP */
.usp {
  margin: 40px 0 60px 0;
}
.usp .usp-block {
  display: flex;
}
.usp .usp-block .usp-icon {
  width: 80px;
  height: 80px;
  border: 2px solid #3e3b38;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}
.usp .usp-block h4 {
  margin: 10px 0;
}

/* CAROUSEL */
.carousel-box, .carousel-box-inner {
  height: 300px;
}
@media (min-width: 576px) {
  .carousel-box, .carousel-box-inner {
    height: 600px;
  }
}
.carousel-box {
  position: relative;
}
.carousel-box-bg {
  background: #333;
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  z-index: -1;
  -webkit-clip-path: polygon(0% 0, 100% 10%, 100% 90%, 0 100%);
  clip-path: polygon(0% 0, 100% 10%, 100% 90%, 0 100%);
}
@media (min-width: 576px) {
  .carousel-box-bg {
    height: 500px;
  }
}
.carousel-box-inner {
  background: #000;
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
}
@media (min-width: 576px) {
  .carousel-box-inner {
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  }
}

.carousel, .carousel-item, .carousel-item img, .carousel-inner {
  height: 100%;
  margin: 0px auto;
}

/* SPECIFICATION */
.specifications {
  margin: 40px 0 60px 0;
}
.spec-block{
  margin: 0 0 20px 0;
  display: flex;
}
.spec-block h4{
  margin: 0;
  padding: 0;
}
.spec-block p {
  margin: 0 0 5px 0;
  padding: 0;
}
.spec-block .spec-icon {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 20px;
}
.spec-icon.icon-beer { background: url(../img/icons/icon_beer.png); background-size: cover;}
.spec-icon.icon-dimensions { background: url(../img/icons/icon_dimensions.png); background-size: cover;}
.spec-icon.icon-energy { background: url(../img/icons/icon_energy.png); background-size: cover;}
.spec-icon.icon-extra { background: url(../img/icons/icon_extra.png); background-size: cover;}
.spec-icon.icon-guaranteed { background: url(../img/icons/icon_guaranteed.png); background-size: cover;}
.spec-icon.icon-materials { background: url(../img/icons/icon_recycle.png); background-size: cover;}
.spec-icon.icon-noise { background: url(../img/icons/icon_noise.png); background-size: cover;}
.spec-icon.icon-temperature { background: url(../img/icons/icon_temperature.png); background-size: cover;}
.spec-icon.icon-weight { background: url(../img/icons/icon_weight.png); background-size: cover;}

/* TECHNOLOGY */
.technology {
  min-height: 750px;
  position: relative;
}
.technology-inner {
  background: #f2f2f2;
  min-height: 750px;
  padding: 60px 0;
  -webkit-clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0 96%);
  clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0 96%);
}
@media (min-width: 576px) {
  .technology-inner {
    -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
  }
}
.technology-bg {
  background: #f9f9f9;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  z-index: -1;
}
.technology-inner img {
  width: 100%;
}
.technology-inner .text{
  padding-top: 20px;
}
.technology-inner .text h4{
  margin-bottom: 0;
}
.technology-inner .text p{
  margin-top: 4px;
}   

/* BEERS */
.beers {
  margin: 40px 0 60px 0;
}
.beers-logos-box img{
  width: 100%;
}

/* OVERVIEW */
.overview {
  min-height: 800px;
  position: relative;
}
.overview h1, .overview h3 {
  color: #fff;
}
.overview h3 {
  margin-top: 0;
}
.overview-inner {
  background: #3e3b38;
  min-height: 800px;
  padding: 80px 0;
  -webkit-clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0 98%);
  clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0 98%);
}
@media (min-width: 576px) {
  .overview-inner {
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0 90%);
  }
}
.overview-bg {
  background: #212120;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 90%);
  z-index: -1;
}
.overview .product-card img {
  width: 100%;
}
.overview .product-card .price {
  color: #fff;
  font-family: futura-bold;
  font-size: 22px;
  margin-bottom: 10px;
}

/* BEST SELLERS */
.best-sellers {
  min-height: 800px;
  position: relative;
}
.best-sellers .product-card-inner {
  border: 1px solid #f2f2f2;
  padding:10px;
  margin-bottom: 20px;
}
.best-sellers .product-card img {
  width: 100%;
}
.best-sellers .product-card .price {
  font-family: futura-bold;
  font-size: 22px;
  margin-bottom: 10px;
}







